<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <nav> 
    <ul> 
      <li> <a href="/"> Home </a> </li> 
      <li> <a href="/blog"> Blog </a> </li> 
  </nav>
  <h1> About </h1>
  <p> Astro is the all-in-one web framework designed for speed. Pull your content from anywhere and deploy everywhere, all powered by your favorite UI components and libraries. </p>
</body>
</html>
